@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}


body{
    font-family: 'Pretendard-Regular';
}

.animate {
    animation: fadeIn 2.2s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* div nav start */
#nav{
    text-align: center;
    position: fixed;
    z-index: 1;
    top:0;
    height: 80px;
    width: 100%;
    background-color: #FFD4D4;
    color:black;
}

.nav-container{
    display: flex;
    justify-content: left;
    text-align: left;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 80;
    list-style-type: none;
}

.nav-item{
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    margin-top:15px;
    padding-top:10px;
    width:250px;
    height:50px;
}

.nav-home{
    cursor: pointer;
    margin-top: 15px;
    width:250px;
    background-color: #FFD4D4;
}

.nav-item:hover {
    border:1px solid black;
  
}

#loginbt{
    margin-top: 20px;
}

.slider{
    margin:0 auto;
     width: 60%;
}

.nav-container-in{
    display: none;
    list-style-type: none;
    text-align: center;
    width: 100%;
}

.nav-item-in{
    text-align: left;
    cursor: pointer;
    font-size: 20px;
    margin-top:15px;
    padding-top:10px;
    width:250px;
    height:50px;
    background-color: transparent;
    color:black;

}

.nav-item-in a {
    color: black;
    text-decoration: none;
}

.nav-item a{
    color: black;
    text-decoration: none;
}

/* div nav end */



/* div plogging start */
.plogging{
    margin-top: 200px;
    margin-bottom: 70px;
    width: 90%;
    height: 500px;
    padding-bottom: 700px;
}

.ploggingdiv{
    padding-top: 10px;
}

.ploggingin{
    margin-bottom: 100px;
}

.bigtxt{
    font-weight: bold;
    font-size: xx-large;
}

.advtitle{
    margin-top: 80px;
}

.subtxt0{
    margin-bottom: 80px;
    font-size: medium;
}

.subtxt{
    margin-top: 20px;
    font-size: medium;
}

.ploggingadv {
    display: grid;
    text-align: center;
    margin-bottom: 80px;
}

.topBanner{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

}

.advimg-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 550px);
    align-items: center;
    justify-items: center;   
    gap: 50px;
}
  
.adv {
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    width: 350px;
    height: 350px;

}
  
.adv-desc {
    position: absolute;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
    display: none;
}

.adv-desctitle{
    font-size: large;
    text-decoration-line: underline;
    background-color: #d7e8b2;
    margin-bottom: 15px;
}

.flip-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 400px;
    height: 400px

}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    align-self: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
}
  
.flip-card-back {
    color: black;
    transform: rotateY(180deg);
    font-size: small;
}

.ploggingdiv{
    margin-top: 50px;
    padding-left: 50px;
}

.ploggingtxt{
    margin-top: 50px;
    font-weight: bold;
}

.earthchart{
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
}

#linechart_material{
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 70px;
}

.ploggingchange{
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}

.ploggingtxt1{
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: medium;
}

.ploggingtxt2{
    margin-bottom: 30px;
}

.ploggingtxt3{
    margin-top: 25px;
}

.line{
    border: 0;
    height: 1px;
    margin-left: 80px;
    margin-right: 80px;
    background: darkgray;
}
    
.icon{
    color: #1E821E;
}
/* div plogging end */

/* div ploggingchange start */
#changeimg{
    cursor: pointer;
    border-radius: 20px;
}
/* div ploggingchange end */


/* div member start */
.icon1{
    display: inline-block;
    width: 40px;
    height: 40px;
    padding-right: 7px;
    padding-bottom: 8px;
}

.member{
    background-color: #f6f6f6;
    margin-top: 80px;
    padding-top: 70px;
    padding-bottom: 80px;
    border-radius: 20px;
}

.col-sm-4{
    margin-top: 70px;
}

.memberpic:hover{
    border: 5px solid lightgrey;
    cursor: pointer;
}

.shadow-drop-center:hover{
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.memname{
    margin-top: 15px;
    font-size: medium;
}

.membertxt{
    margin-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: small;
}

.introducetxt{
    margin-top: 10px;
    font-size: medium;
}

.githublink{
    text-decoration: none;
    text-decoration-color: black;
}

.sitelink{
    display: block;
}

.subtxt2{
    margin-top: 20px;
    margin-bottom: 80px;
    font-size: small;
}

.img-circle{
    cursor: pointer;
}
/* div member end */

/* div link start */
.sitelink{
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: small;
}

#rel_site{
    color: gray;
    font-weight: 500;
    font-size: large;
    display: inline-block;
}

.icon2{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.link{
    margin-bottom: 100px;
}
/* div link end */

/* div footer start */
.footer{
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    height: 180px;
    width: 100%;
    background-color: #FFD4D4;
    color:black;
}

.footerdes{
    margin-top: 10px;
}
.footer a:not(:last-of-type) {
    margin-right: 15px;
}
/* div footer end */
