@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    width:100%;
    height:100%;
    
    font-family: 'Pretendard-Regular';
}

#intro-content{
    width:100%;
    height:100%;
    
}



.trash{
    position: absolute;
    
}

#trash1{
    left: 25%;
    top: 45%;
    transform: rotate(40deg);
}

#trash2{
    left: 60%;
    top: 40%;
    transform: rotate(225deg);
}

#trash3{
    left: 35%;
    top: 50%;
    transform: rotate(10deg);
}

#trash4{
    left: 45%;
    top: 45%;
    transform: rotate(45deg);
}

#trash5{
    left: 55%;
    top: 50%;
    transform: rotate(45deg);
}

#trash6{
    left: 38%;
    top: 38%;
    transform: rotate(100deg);
}

#page1{
    width:100%;
    height: 1000px;
    background-image: url("image/bg2.png");
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cover;
    margin: 0 auto;
    text-align: center;
}


#title{
    margin: 0 auto;
    margin-top: 20%;
}

.title{
background-color: #dddddd00;
display:none;
width: 100%;
height: 1000px;
margin: 0 auto;
}


.titletxt1{
display: block;
color: white;
font-family: 'GmarketSansMedium';
font-weight: 700;
font-size: 100px;
margin: 0 auto;
text-align: center;
}

.titletxt2{
display: block;
color: white;
font-family: 'GmarketSansMedium';
font-weight: 700;
font-size: 50px;
margin: 0 auto;
text-align: center;
}

.hideme{
color:black;
display:none;
}
button{
    background-color: #FFD4D4;
    border-radius: 50px;
    border: white solid 3px;
}
button:hover{
    background-color: #ffa0a0;
}