@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: 'Pretendard-Regular' !important;
}

.bigtxt{
    font-weight: bold;
    font-size: xx-large;
}

/* div title start */
.content{
    width: 80%;
    margin: auto;
}
/* div title end */

/* div nav start */
#nav{
    text-align: center;
    position: fixed;
    z-index: 1;
    top:0;
    height: 80px;
    width: 100%;
    background-color: #FFD4D4;
    color:black;
}

.nav-container{
    display: flex;
    justify-content: left;
    text-align: left;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 80;
    list-style-type: none;
}

.nav-item{
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    margin-top:15px;
    padding-top:10px;
    width:250px;
    height:50px;
}

.nav-home{
    cursor: pointer;
    margin-top: 15px;
    width:250px;
    background-color: #FFD4D4;
}

.nav-item:hover {
    border:1px solid black;
  
}

#loginbt{
    margin-top: 20px;
}

.slider{
    margin:0 auto;
     width: 60%;
}

.nav-container-in{
    display: none;
    list-style-type: none;
    text-align: center;
    width: 100%;
}

.nav-item-in{
    text-align: left;
    cursor: pointer;
    font-size: 20px;
    margin-top:15px;
    padding-top:10px;
    width:250px;
    height:50px;
    background-color: transparent;
    color:black;
}

/* div nav end */

/* div content start */
.titletxt{
    text-align: center;
    margin-top: 200px;
}

.subtxt0{
    margin-top: 20px;
    font-size: medium;
}
/* div content end */

/* div search start*/
.search{
    position: relative;
    padding-top: 50px;
    margin-left: 70%;
}

.searchbox{
    width: 200px;
    height: 30px;
    font-size: small;
    cursor: pointer;
}

.searchbtn{
    width: 50px;
    height: 35px;
    font-size: small;
    cursor: pointer;
}
/* div search end */

/* div course start */
.course{
    text-align: center;
    margin-bottom: 80px;
    min-height: calc(100vh - 150px);
}

.popluar{
    text-align: center;
    height: 500px;
    width: 100%;
    margin-top: 150px;
    border-top: 1px solid lightgrey;
}

.bigtxt0{
    margin-top: 50px;
    font-weight: bold;
    font-size: xx-large;
}

#top-container .subcourseone {
    margin: 0;
    transform: scale(0.8);
}

#top-container {
    display: flex;
}

.subcourseone{
    display: flex;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    width: 350px;
    height: 450px;
    position: relative;
}

.subcourse{
    display: inline-block;
    width: 350px;
    height: 500px;
    border: solid 1px grey;
    border-radius: 5%;
    cursor: pointer;
}

.courseimg{
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
}

.subcourse-title{
    height: 40px;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    font-size: x-large;
    font-weight: bold;
}

.line{
    margin-left: 10px;
    margin-right: 10px;
}

.subcourse-contentfront{
    text-align: left;
    margin-left: 20px;
    font-size: medium;
}


.subcourse-contentback {
    position: absolute;
    top: 30%;
    left: 25px;
    right: 25px;
    color: white;
    font-size: medium;
}

.pincourse{
    text-align: left;
    margin-left: 20px;
    font-size: small;
}

.pinicon{
    position: relative;
    width: 20px;
    height: 20px;
}

.reaction{
    position: relative;
    width: 350px;
    height: 40px;
    margin-top: 10px;
}

.icon1{
    position: absolute;
    display: inline-block;
    margin-left: 70%;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.num{
    display: inline-block;
    margin-left: 80%;
    margin-top: 12px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 500px;
    background-color: rgba(1, 14, 1, 0.5);
    display: none;
    border-radius: 5%;
}

#text{
   display: hidden;
}

/* div course end */

/* div pagination start */
.pagination {
    display: inline-block;
    margin-left: 38%;
    margin-top: 200px;
    margin-bottom: 80px;
    text-align: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
/* div pagination end */

/* div footer start */
.footer{
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    height: 150px;
    width: 100%;
    background-color: #FFD4D4;
    color:black;
}
/* div footer end */