@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: 'Pretendard-Regular' !important;
}

.selfcheck{
    width: 80%;
    margin: auto;
    margin-top: 200px;
}

.icon{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.bigtxt{
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: xx-large;
}

.subtxt0{
    margin-top: 20px;
    text-align: center;
    font-size: medium;
}

.item{
    display: inline-block;
    text-align: center;
    margin: auto 0;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    cursor: pointer;
    border: 1px solid #FFD4D4;
    border-radius: 10px;
}

.item-container {
    width: 1100px;
    text-align: center;
    margin: auto;
}

.title-btn{
    text-align: center;
    margin-top: 20px;
    border: 1px solid green;
}

#result{
    margin-bottom: 25px;
    font-size: 20px;
}
.footer{
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    height: 180px;
    width: 100%;
    background-color: #FFD4D4;
    color:black;
}

.footerdes{
    margin-top: 10px;
}
.footer a:not(:last-of-type) {
    margin-right: 15px;
}

#nav{
    text-align: center;
    position: fixed;
    z-index: 1;
    top:0;
    height: 80px;
    width: 100%;
    background-color: #FFD4D4;
    color:black;
}
.nav-container{
    display: flex;
    justify-content: left;
    text-align: left;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 80;
    list-style-type: none;
}
.nav-item{
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    margin-top:15px;
    padding-top:10px;
    width:250px;
    height:50px;
}
.nav-home{
    cursor: pointer;
    margin-top: 15px;
    width:250px;
    background-color: #FFD4D4;
}
.nav-item:hover {
    border:1px solid black;
}

#loginbt{
    margin-top: 20px;
}
.slider{
    margin:0 auto;
    width: 60%;
}
.nav-container-in{
    display: none;
    list-style-type: none;
    text-align: center;
    width: 100%;
}
.nav-item-in{
    text-align: left;
    cursor: pointer;
    font-size: 20px;
    margin-top:15px;
    padding-top:10px;
    width:250px;
    height:50px;
    background-color: transparent;
    color:black;
}